:root {
    /* Colors */
    --color-primary: #302F94;
    --color-secondary: #FACA13;

    --color-background: #ffffff;
    --color-text: #000000;
    --color-muted: #4A4A4A;
    --color-card-background: #F0F0F0;

    /* Typography */
    --font-primary: "Manrope", sans-serif;
    --font-display: "Pacifico", cursive;
}