.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 1020px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 690px) {
    .card-grid {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}