#about-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 1164px;
    gap: 2.5rem;
}

#about-container>* {
    width: 50%;
}

#about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-title {
    margin-top: 0;
    font-size: 2.125rem;
}

#about-text {
    text-align: justify;
    text-wrap: balance;
    font-size: 1.25rem;
}