#faq-section {
    padding: 60px 20px;
    text-align: center;

    border-bottom: 1px solid var(--color-muted);
}

#faq-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq-list {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid var(--color-primary);

}

.faq-item h3 {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1rem;
    color: var(--color-muted);
    line-height: 1.5;
}

#faq-container>p {
    margin-top: 20px;
    font-size: 1.2rem;
    ;
}

#faq-container a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

#faq-container a img {
    height: 30px;
}