.footer-section {
    padding: 30px;
    background-color: var(--color-primary);
    text-align: center;
}

.footer-section p {
    font-size: 0.9rem;
    color: var(--color-background);
}

.footer-section a {
    color: var(--color-accent);
}