#how-it-works-section {
    background-color: var(--color-primary);
}

#how-it-works-container {
    padding: 100px 0 150px 0;
}

#how-it-works-container h2 {
    color: var(--color-background);
    text-align: center;
}

#steps-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.step-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 1.5px solid var(--color-background);
    height: 220px;

}

.step-card img {
    height: 80px;
    margin-bottom: 10px;
}

.step-card span {
    color: var(--color-background);
    font-size: 19px;
    font-weight: 500;
    max-width: 202px;
    text-align: center;
}