#testimonials-section {
    background-color: var(--color-secondary);
    text-align: center;
}

#testimonials-container {
    padding: 125px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stars-icon {
    margin: 0;
    height: 80px;
}

#testimonials-title {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

#testimonials-container span {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
}